html {
    box-sizing: 'border-box'
  }

#app{
  width: 65%;
  margin: 50px auto;
  /* background-color: rgba(30, 30, 30, 0.4); */
  background: linear-gradient(rgba(45,45,45,0.4),rgba(95, 95, 95, 0.2));
  box-shadow: 0px 0px 30px;
}

body{
  background-image: url(https://img00.deviantart.net/66d2/i/2016/274/2/c/cipher_numbers_background_by_deming9120-dajkbkl.jpg);
  /* opacity: 0.5; */
  background-color: #cccccc;
}

#headers{
  /* font-family: "Times New Roman", Times, serif; */
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: whitesmoke;
  text-shadow: 2px 2px 18px black;
}

.center {
    text-align: center;
  }

#input-parent {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
 }

 #player-input{
  width: 160px;
  height: 160px;
  /* border-radius: 100px 100px 100px 100px; */
  border-radius: 50%;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 60px;
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  box-shadow: 5px 5px;
 }

 #submit{
   margin-left: 10px;
   /* font-size: 20px; */
   width: 60px;
   height: 60px;
   border-radius: 50%;
   position: relative;
   top: 95px;
   right: 60px;
 }

 .guess{
  display: inline-block;
  border: 3px solid black;
  border-radius: 20px;
  padding: 30px 50px;
  margin: 20px 0;
  font-size: 30px;
  font-weight: bold;
  background-color: whitesmoke;
  box-shadow: 5px 5px;
 }

ul {
     list-style: none;
     font-family: "Comic Sans MS", "Comic Sans", cursive;
     padding: 0;     
  }

img {
    display: inline;
    width: 200px;
    height: 100px;
  }

#menu-btns{
  display: flex;
  justify-content: center;
}

#reset{
  margin-left: -50px;
  margin-right: 10px;
}

#footer {
      width: 100%;
      border-top: solid 2px black;
      background-color: white;
      /* color: white; */
      position: fixed;
      bottom: 0;
  }